<%= form_for[ @post, @comment ]do |f| %>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
  </p>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <p>
    <%= f.submit class: 'my-5 py-2.5 px-5 border border-transparent text-md md:text-sm leading-5 text-center font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-green-700 focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out' %>
  </p>
<% end %>
