<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= post.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= post.content %>
  </p>

  <p class="my-5 sm:text-sm text-xs tracking-normal text-gray-600">
    <%= post.created_at.strftime('%-d.%m.%Y, %H:%M') %>
  </p>

  <% if action_name != "show" %>
    <%= link_to 'Show this post', post, class: 'rrelative py-2.5 px-5 border border-transparent border-black text-md md:text-sm leading-5 text-center font-medium rounded-md text-black bg-white hover:bg-gray-200 focus:outline-none focus:border-gray-700 focus:shadow-outline-green active:bg-gray-300 transition duration-150 ease-in-out' %>
    <%= link_to 'Edit this post', edit_post_path(post), class: 'relative py-2.5 px-5 border border-transparent border-black text-md md:text-sm leading-5 text-center font-medium rounded-md text-black bg-white hover:bg-gray-200 focus:outline-none focus:border-gray-700 focus:shadow-outline-green active:bg-gray-300 transition duration-150 ease-in-out' %>
    <hr class="mt-6">
  <% end %>
</div>
