<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto bg-white p-4 rounded-xl">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @post %>

    <div class="mt-5">
      <%= link_to 'Edit this post', edit_post_path(@post), class: "relative py-2.5 px-5 border border-transparent border-black text-md md:text-sm leading-5 text-center font-medium rounded-md text-black bg-white hover:bg-gray-200 focus:outline-none focus:border-gray-700 focus:shadow-outline-green active:bg-gray-300 transition duration-150 ease-in-out" %>
      <div class="inline-block">
        <%= button_to 'Destroy this post', post_path(@post), method: :delete, class: "relative py-2.5 px-5 border border-transparent text-md md:text-sm leading-5 text-center font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-green active:bg-red-700 transition duration-150 ease-in-out" %>
      </div>
      <%= link_to 'Back to posts', posts_path, class: "relative py-2.5 px-5 border border-transparent border-black text-md md:text-sm leading-5 text-center font-medium rounded-md text-black bg-white hover:bg-gray-200 focus:outline-none focus:border-gray-700 focus:shadow-outline-green active:bg-gray-300 transition duration-150 ease-in-out" %>
    </div>
  </div>
</div>
